.sell-form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.sell-form-wrapper h1 {
    text-align: center;
    margin-bottom: 24px;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 8px;
    color: #666;
}

hr {
    margin-bottom: 24px;
}

.image-upload-box {
    border: 2px dotted #ccc;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 24px;
    position: relative;
    border-radius: 4px;
}

.image-upload-box label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid red;
    color: red;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.image-upload-box label:hover {
    background-color: #e53935;
    color: #fff;
}

.image-upload-box input[type="file"] {
    display: none;
}

.image-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;

    display: block;
    margin: 0 auto 12px auto;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.category-tag {
    display: inline-block;
    border: 2px solid red;
    color: red;
    background-color: white;
    border-radius: 18px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;
}

.category-tags input[type="checkbox"] {
    display: none;
}

.category-tags input[type="checkbox"]:checked + .category-tag {
    background-color: red;
    color: white;
    border: 2px solid red;
}

.sell-form-wrapper select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sell-form-wrapper textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:none;
}


/* @media (min-width: 768px) and (max-width: 850px) {

    .sell-form-wrapper {
        padding: 16px;
    }

    .section-title {
        font-size: 18px;
    }

    .image-upload-box {
        padding: 30px 0;
    }

    .category-tags {
        gap: 6px;
    }

    .category-tag {
        font-size: 13px;
        padding: 5px 10px;
    }

    .sell-form-wrapper select,
    .sell-form-wrapper textarea,
    .sell-form-wrapper input[type="text"] {
        font-size: 13px;
        padding: 7px;
    }
}

@media (min-width:1400px) and (max-width:1540px) {

    .sell-form-wrapper {
        max-width: 700px;
    }

    .section-title {
        font-size: 22px;
    }

    .image-upload-box {
        padding: 50px 0;
    }

    .category-tags {
        gap: 10px;
    }

    .category-tag {
        font-size: 15px;
        padding: 7px 14px;
    }

    .sell-form-wrapper select,
    .sell-form-wrapper textarea,
    .sell-form-wrapper input[type='text'] {
        font-size: 15px;
        padding: 10px;
    }
} */